<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ezen.www.repository.BoardDAO">
    <insert id="insert">
    insert into board (title,writer,content) values(#{title},#{writer},#{content})
    </insert>
    
    <select id="selectList" resultType="com.ezen.www.domain.BoardVO">
    select * from board where isDel = 'N'
    <include refid="search"></include> 
    order by bno desc 
    limit #{pageStart},#{qty}
    </select>
    
    <select id="detail" parameterType="int" resultType="com.ezen.www.domain.BoardVO">
    select * from board where bno=#{bno}
    </select>
    	
    <update id="up">
    update board set read_count=read_count+1 where bno=#{bno}
    </update>
    
    <update id="update">
    update board set title=#{title},content=#{content},reg_date=now(),read_count=read_count-2 where bno=#{bno}
    </update>
    
    <update id="remove">
    update board set isDel="Y" where bno=#{bno}
    </update>
    <select id="getTotalCount" resultType="int">
    select count(bno) from board where isDel = 'N'
    </select>
    
    <select id="selectBno" resultType="int">
     select max(bno) from board
    </select>
    
    <!-- select * from board where isDel='N' and(...or ... or ...) -->
    <sql id="search">
    <if test="type != null">
     <trim prefix="and(" suffix=")" prefixOverrides="or">
       <foreach collection="typeToArray" item="type">
         <trim prefix="or">
           <choose>
             <when test="type=='t'.toString()">
              title like concat('%', #{keyword},'%')
             </when>
             <when test="type=='w'.toString()">
              writer like concat('%',#{keyword},'%')
             </when>
             <when test="type=='c'.toString()">
              content like concat('%', #{keyword},'%')
             </when>
           </choose>
         </trim>
       </foreach>
     </trim>
    </if> 
    </sql>
    
    
    
    
</mapper>